<?xml version="1.0" encoding="UTF-8"?>
<mini>
<!-- config db -->
	<db>
		<driver>mysqli</driver>
		<master name="master">
			<host>127.0.0.1</host>
			<user>root</user>
			<pass></pass>
			<port>3306</port>
			<dbname>test</dbname>
			<charset>utf8</charset>
		</master>
		<slave name="slave1">
			<host>127.0.0.1</host>
			<user>root</user>
			<pass></pass>
			<port>3306</port>
			<dbname>test</dbname>
			<charset>utf8</charset>
			<percent>100</percent>
		</slave>
	</db>
	<!-- 
	<loader>
		<dirs></dirs>
	</loader>
	 -->
	 <!-- 
	<router>
		<rules>
			<app>admin</app>
			<class>mini_web_urlrule</class>			
		</rules>
	</router>
	 -->
	 <!--
	<event>
		<e>login</e>
	</event>
	-->
	<default>
		<app>site</app>
		<controller>index</controller>
		<action>index</action>
	</default>
	<error>
		<app>error</app>
		<controller>index</controller>
		<action>index</action>
	</error>
	<!-- 
	<logger>
		<logs name="mylog">
			<class>mini_log_file</class>
			<levels>info,warning,error</levels>
			<categories>app,exception.*,php</categories>
			<file>mylog.log</file>
		</logs>
	</logger>
	-->
</mini>